{% extends "base.html" %} 
{% block title %}Homepage{% endblock %}
{% block topbar %}
<div class="topnav center">
  <a class="active flex" href="/">Home</a>
  <a class="flex" href="/about">About</a>
  <a class="flex" href="/projects">Projects</a>
</div>
{% endblock %}
{% block body %}
<div class="center">
<h1 class="margin-fixer animate__animated animate__pulse" style="margin-bottom: -6px">Sushi&ZeroWidthSpace;Python</h1>
<h2>Hi, I'm SushiPython, but you can call me Sushi. I am a web developer and I like to code, as well as play video games. I know a few languages, primarily Python and Java, as well as a bit of some others. Try clicking some buttons!</h2>
<img class="centerhorizontally" src="https://cdn.sushipython.us/content/images/logos/logo.jpg" loading="lazy" alt="logo">
</div>
{% endblock %}
